beautifulsoup4
Brotli
certifi
charset-normalizer
contourpy
curlconverter==1.0.1
cycler
fonttools
idna==3.10
joblib
kiwisolver
matplotlib==3.9.2
mkl-service==2.4.0
mkl_fft
mkl_random
mplcursors==0.5.3
numpy
packaging
pillow
ply
pyedhrec==0.0.2
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
requests
scikit-learn
scipy
setuptools==72.1.0
sip
six
soupsieve
threadpoolctl
tornado
unicodedata2
urllib3
wheel==0.44.0
win-inet-pton
